
<div class="pure-g-r" id="layout">
	<div class="sidebar pure-u" id="yui_3_12_0_1_1379406971092_10">
		<header class="header">
			<hgroup>
				<h1 class="brand-title">Travel Map</h1>
				<h2 class="brand-tagline">Maps for travellin</h2>
			</hgroup>

			<nav class="nav">
				<ul class="nav-list">
					<li class="nav-item">
						<a class="pure-button"href="#/view1">view1</a>
					</li>
					<li class="nav-item">
						<a class="pure-button" href="#/map">Map</a>
					</li>
				</ul>
			</nav>

		</header>
	</div>

	<div class="pure-u-1">
		<div class="content">
		</div>
	</div>
</div>